<section>
  @defer { @for (player of players; track player.id) {
  <p>
    {{ player.jerseyNumber!.toString() }} - {{ player.name.toString() }} -
    {{ player.position.toString() }}
  </p>
  } @empty {
    <p>Aucun joueur dans la base de données.</p>
  } } @loading (minimum 2s) {
  <img
    class="cursor-progress aspect-square"
    src="assets/images/loading.gif"
    width="100"
    height="100"
    alt="Loading..."
    fill
    priority
  />
  } @placeholder {
  <p>Pas de données pour l'instant.</p>
  }
</section>
