<div class="flex items-center flex-col gap-y-8">
  <img
        class="aspect-square visible"
        src="assets/images/emblem_civ.png.webp"
        alt="Embleme de la Cote D'Ivoire"
        width="400"
        height="500"
        fill
        priority
      />
  <div style="--index:2" class="animate-card rounded-md text-center text-balance text-sm md:text-lg transition delay-75 duration-300 font-bold py-4 px-10 bg-green-600 text-white cursor-pointer hover:scale-105 hover:shadow-md hover:shadow-black/40 hover:bg-green-800/90 hover:text-white">
    <h1 class="font-bold">{{message()}}</h1>
  </div>
</div>

