<header class="py-4 flex gap-x-4 justify-center items-center">
  <a class="rounded-2xl transition delay-75 duration-300 font-bold py-4 px-10 bg-orange-600 text-white cursor-pointer hover:bg-green-600 hover:text-white" routerLink="/">Home</a>
  <a class="rounded-2xl transition delay-75 duration-300 font-bold py-4 px-10 bg-orange-600 text-white cursor-pointer hover:bg-green-600 hover:text-white" routerLink="/list">Liste</a>
  <a class="rounded-2xl transition delay-75 duration-300 font-bold py-4 px-10 bg-orange-600 text-white cursor-pointer hover:bg-green-600 hover:text-white" routerLink="/card">Carte</a>
</header>
