/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.animate-card {
  animation: card-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) calc(var(--index) * 1s) 1 normal
    both;
}

.visible {
  animation: visible 1s cubic-bezier(0.175, 0.885, 0.52, 1.575) 1s 1 normal
    both;
}

@keyframes card-animation {
  from {
    opacity: 0;
    transform: translateX(calc(-100%));
  }
  to {
    opacity: 1;
    transition: translateX(0);
  }
}

@keyframes visible {
  from {
    opacity: 0;
    transform: scale(0);
  }
  50%{
    opacity: 1;
    transition: scale(100);
  }
  51%{
    opacity: 0.5;
    transition: scale(50);
  }
  60%{
    opacity: 1;
    transition: scale(100);
  }
  61%{
    opacity: 0.5;
    transition: scale(50);
  }
  70%{
    opacity: 1;
    transition: scale(100);
  }
  71%{
    opacity: 0.5;
    transition: scale(50);
  }
  to {
    opacity: 1;
    transition: scale(100);
  }
}
